<%- include("header") -%>
<h1 id="Title" contenteditable="true">Pallete Title</h1>
<div class="contentBox">
    <div class="colorBox">
        <div class="color"></div>
        <div class="code" contenteditable="true">#4cae3a</div>
    </div>
    <div class="colorBox">
        <div class="color"></div>
        <div class="code" contenteditable="true">#4cae3a</div>
    </div>
    <div class="colorBox">
        <div class="color"></div>
        <div class="code" contenteditable="true">#4cae3a</div>
    </div>
    <div class="colorBox">
        <div class="color"></div>
        <div class="code" contenteditable="true">#4cae3a</div>
    </div>
    <div class="colorBox">
        <div class="color"></div>
        <div class="code" contenteditable="true">#4cae3a</div>
    </div>
    <div class="colorBox">
        <div class="color"></div>
        <div class="code" contenteditable="true">#4cae3a</div>
    </div>
</div>
<div class="actions">
    <button id="Generate">Generate</button>
    <button id="Save">Save</button>

</div>
<script src="js/main.js"></script>
<%- include("footer") -%>